@model SafeBank.Models.Accounts.AccountsDetails
<h1></h1>
<h2>Accounts</h2>
<div class="CustomListCenter">
    @foreach (var account in Model.AccountDetailses)
    {
        <div>
            <span>Name: @account.AccountName</span>
            <br />
            <span>Number: @account.AccountNumber</span>
            <br />
            <span>Type: @account.AccountType</span>
            <br />
            <span>Balance: @account.AccountBalance</span>
            <br />
            <span>Overdraft: @account.AccountOverdraft</span>
            <br />
            <span>@Html.ActionLink("Transactions", "Transactions", new { accountId = account.Id, customerId = Model.CustomerId })</span>
            <br />
        </div>
    }
    @if (Model.AccountDetailses.Count() == 0)
    {
        <div>
            <span>You don't have any accounts please contact your bank to setup an account</span>
        </div>
    }
</div>