@model SafeBank.Models.Accounts.AccountsDetails
<h1>Customer Manager</h1>
<h2>Accounts</h2>
<div class="CustomListCenter">
    @foreach (var account in Model.AccountDetailses)
    {
        <div>
            <span>Name: @account.AccountName</span>
            <br />
            <span>Number: @account.AccountNumber</span>
            <br />
            <span>Type: @account.AccountType</span>
            <br />
            <span>Balance: @account.AccountBalance</span>
            <br />
            <span>Overdraft: @account.AccountOverdraft</span>
            <br />
            <span>@Html.ActionLink("Transactions", "AccountsTransactions", new { accountId = account.Id, customerId = Model.CustomerId })</span>
            <br />
        </div>
    }
</div>