@model SafeBank.Models.User.UserLoginDetails
<h1>LogIn</h1>
@using (Html.BeginForm("LogIn","Authentication"))
{
    @Html.AntiForgeryToken()
    @Html.LabelFor(x => x.Username)
    <br/>
    @Html.TextBoxFor(x => x.Username)
    @Html.LabelFor(x => x.Password)
    <br/>
    @Html.PasswordFor(x => x.Password)
    <hr/>
    <input type="submit" value="Log In"/>
    <br/>
    <br/>
    @Html.ValidationSummary()
}