<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SafeBank</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            <span>@Html.ActionLink("Safe-Bank", "Index", "Home")</span>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Log In", "Login", "Authentication")</li>
                        <li>@Html.ActionLink("Join", "Join", "Authentication")</li>
                    }
                    else
                    {
                        if (Roles.IsUserInRole("Customer"))
                        {
                            <li>@Html.ActionLink("Accounts", "Accounts", "Customer")</li>
                        }
                        if (Roles.IsUserInRole("Banker"))
                        {
                            <li>@Html.ActionLink("Custom manager", "CustomerManager", "Banker")</li>
                        }
                        if (Roles.IsUserInRole("Bank Manager"))
                        {
                            <li>@Html.ActionLink("Employee manager", "EmployeeManager", "BankManager")</li>
                        }
                        if (Roles.IsUserInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Administrator")</li>
                        }
                        <li>@Html.ActionLink("Log out", "LogOut", "Authentication")</li>
                    }
                </ul>
            </nav>
        </header>
        <div id="MainBody">
            @RenderBody()
        </div>
        <footer>
            &copy; @DateTime.Now.Year - SafeBank
        </footer>
    </body>
</html>
