<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SafeBank</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            <span>@Html.ActionLink("Safe-Bank", "Index", "Home")</span>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </nav>
        </header>
        <div>
            @RenderBody()
        </div>
        <footer>
            &copy; @DateTime.Now.Year - SafeBank
        </footer>
    </body>
</html>
