@model SafeBank.Models.BanksDetails
<h1>Dashboard</h1>
<h2>Banks</h2>
<div class="CustomListCenter">
    @Html.ActionLink("Branches", "OrganisationBranchesList", new { organisationId = Model.OrganisationId })
    <br />
    <br />
    @Html.ActionLink("Add new", "AddBank", new { branchId = Model.BranchId })
    <br />
    <br />
    @foreach (var bank in Model.BankDetailses)
    {
        <div>
            <span>Name: @bank.Name</span>
            <br />
            <span>Code: @bank.Code</span>
            <br />
            <span>@Html.ActionLink("Edit", "EditBank", new {branchId = Model.BranchId, bankId = bank.Id})</span>
            @if (bank.CanDelete)
            {
                <span>@Html.ActionLink("Delete", "DeleteBank", new {bankId = bank.Id, branchId = Model.BranchId})</span>
            }
            <span>@Html.ActionLink("Employees", "BankEmployeeList", new { bankId = bank.Id })</span>
        </div>
    }
    @if (Model.BankDetailses.Count() >= 8)
    {
        @Html.ActionLink("Add new", "AddBank", new { branchId = Model.BranchId })
    }
</div>
