@model SafeBank.Models.Employee.EditEmployeeDetails
<h1>Dashboard</h1>
<h2>Edit Employee</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    @Html.LabelFor(x => x.GivenName)
    @Html.TextBoxFor(x => x.GivenName)
    @Html.LabelFor(x => x.FamilyName)
    @Html.TextBoxFor(x => x.FamilyName)
    <br />
    <br />
    <input type="submit" value="Update now" />
    <br />
    <br />
    @Html.ValidationSummary()
}

