@model SafeBank.Models.Branch.BranchesDetails
<h1>Dashboard</h1>
<h2>Branches</h2>
<div class="CustomListCenter">
    @Html.ActionLink("Organisations", "Dashboard")
    <br />
    <br />
    @Html.ActionLink("Add new", "AddBranch", new { organisationId = Model.OrganisationId })
    <br />
    <br />
    @foreach (var branch in Model.BranchDetailses)
    {
        <div>
            <span>Name: @branch.Name</span>
            <br/>
            <span>Code: @branch.Code</span>
            <br/>
            <span>@Html.ActionLink("Edit", "EditBranch", new { branchId = branch.Id, organisationId = Model.OrganisationId })</span>
            @if (branch.CanDelete)
            {
                <span>@Html.ActionLink("Delete", "DeleteBranch", new { branchId = branch.Id, organisationId = Model.OrganisationId })</span>
            }
            <span>@Html.ActionLink("Banks", "BanksList", new { branchId = branch.Id})</span>
        </div>
    }
    @if (Model.BranchDetailses.Count() >= 8)
    {
        @Html.ActionLink("Add new", "AddOrganisation", "Administrator", new { organisationId = Model.OrganisationId })
    }
</div>