@model SafeBank.Models.Customer.CustomersDetails
<h1>Customer Manager</h1>
<h2>Customers</h2>
<div class="CustomListCenter">
    @Html.ActionLink("Add new", "AddCustomer", new { BankId = Model.BankId })
    <br />
    <br />
    @foreach (var customer in Model.CustomerDetailses)
    {
        <div>
            <span>Name: @customer.FullName</span>
            <br/>
            <span>Phone: @customer.Phone</span>
            <br/>
            <span>Email: @customer.Email</span>
            <br/>
            <span>@Html.ActionLink("Edit", "EditCustomer", new { customerId = customer.id })</span>
            <span>@Html.ActionLink("Delete", "DeleteCustomer", new { customerId = customer.id })</span>
            <span>@Html.ActionLink("Accounts", "CustomerAccounts", new { customerId = customer.id })</span>
            <br/>
        </div>
    }
    @if (Model.CustomerDetailses.Count() >= 8)
    {
        @Html.ActionLink("Add new", "AddCustomer", new { BankId = Model.BankId })
    }
</div>